@model LateOS.Models.tbCiudad

@using (Html.BeginForm(null, null, FormMethod.Post, new { id = "frmEditarCiudad" }))
{    
    <div class="form-horizontal">
        @Html.HiddenFor(model => model.ciu_Id)
        @Html.HiddenFor(model => model.pais_Id)
        @Html.HiddenFor(model => model.ciu_UsuarioCrea)
        @Html.HiddenFor(model => model.ciu_FechaCrea)
        <div class="form-group">
            @Html.LabelFor(model => model.ciu_Descripcion, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.ciu_Descripcion, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.ciu_Descripcion, "", new { @class = "text-danger" })
            </div>
        </div> 
    </div>
}


