@model IEnumerable<LateOS.Models.tbDevolucionDetalle>

@{
    ViewBag.Title = "Listado Devolución Detalle";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="col-lg-12">
<div class="ibox float-e-margins">
<div class="ibox-title">
	@Html.ActionLink("Registrar ", "Create", null, new {@class="btn btn-primary pull-right" })
	<h2>Listado Devolución Detalle</h2>
</div>
<div class="ibox-content">
<table class="table table-striped table-bordered dataTable">
<thead>
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.prod_Id)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.prod_Precio)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.devd_Cantidad)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.devd_Impuesto)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.devd_Descuento)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.tbDevolucion.dev_Razon)
        </th>
        <th>Acciones</th>
    </tr>
</thead>
<tbody>
@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.prod_Id)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.prod_Precio)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.devd_Cantidad)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.devd_Impuesto)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.devd_Descuento)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.tbDevolucion.dev_Razon)
        </td>
        <td>
            @Html.ActionLink("Editar", "Edit", new { id=item.devd_Id }, new {@class="btn btn-primary btn-xs"})
            @Html.ActionLink("Detalles", "Details", new { id=item.devd_Id }, new {@class="btn btn-info btn-xs"})
        </td>
    </tr>
}
</tbody>
</table>
</div>
</div>
</div>
