@model LateOS.Models.tbProducto
@{
    ViewBag.Title = "Detalles";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
    <div class="col-lg-5">
        <div class="ibox">
            <div class="ibox-content">
                <h2>Detales del producto @Html.DisplayFor(model => model.prod_Codigo)</h2>
                <dl class="dl-horizontal">
                    <dt>
                        @Html.DisplayNameFor(model => model.prod_Descripcion)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.prod_Descripcion)
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.prod_Precio)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.prod_Precio)
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.prod_FechaCrea)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.prod_FechaCrea)
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.prod_FechaModifica)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.prod_FechaModifica)
                    </dd>

                    <dt>
                        Proveedor
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.tbProveedor.prov_Descripcion)
                    </dd>

                    <dt>
                        Subcategoría
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.tbSubCategoria.subc_Descripcion)
                    </dd>

                </dl>
                <p>
                    @Html.ActionLink("Editar", "Edit", new { id = Model.prod_Id }, new { @class = "btn btn-primary" })
                    @Html.ActionLink("Cancelar", "Index", null, new { @class = "btn btn-default" })
                </p>
            </div>
        </div>
    </div>

    <div class="col-lg-7">
        <div class="ibox">
            <div class="ibox-content">
                @Html.ActionLink("Regresar", "Index", null, new { @class = "pull-right" })
                <!-- The Gallery as lightbox dialog, should be a document body child element -->
                <div id="blueimp-gallery" class="blueimp-gallery">
                    <div class="slides"></div>
                    <h3 class="title"></h3>
                    <a class="prev">‹</a>
                    <a class="next">›</a>
                    <a class="close">×</a>
                    <a class="play-pause"></a>
                    <ol class="indicator"></ol>
                </div>
                <div class="lightBoxGallery">
                    <h2>Imagen principal</h2>

                    <div id="blueimp-gallery" class="blueimp-gallery" style="display: none;">
                        <div class="slides" style="width: 115200px;"></div>
                        <h3 class="title">Image from Unsplash</h3>
                        <a class="prev">‹</a>
                        <a class="next">›</a>
                        <a class="close">×</a>
                        <a class="play-pause"></a>
                        <ol class="indicator"></ol>
                    </div>

                    <div id="links">
                        <a href="../../@Model.prod_Img" title="Img Principal">
                            <img src="../../@Model.prod_Img" alt="Banana" height="162" width="150" />
                        </a>
                    </div>
                    <div id="blueimp-gallery-carousel"
                         class="blueimp-gallery blueimp-gallery-carousel">
                        <div class="slides"></div>
                        <h3 class="title"></h3>
                        <a class="prev">‹</a>
                        <a class="next">›</a>
                        <a class="play-pause"></a>
                        <ol class="indicator"></ol>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="col-lg-12">
        <div class="ibox">
            <div class="ibox-content">
                <div class="lightBoxGallery">
                    <h2>Imagenes del Producto</h2>

                    <div id="blueimp-gallery" class="blueimp-gallery" style="display: none;">
                        <div class="slides" style="width: 115200px;"></div>
                        <h3 class="title">Image from Unsplash</h3>
                        <a class="prev">‹</a>
                        <a class="next">›</a>
                        <a class="close">×</a>
                        <a class="play-pause"></a>
                        <ol class="indicator"></ol>
                    </div>

                    <div id="links2">
                        @foreach (var item in Model.tbProductoImagen)
                         {
                            <a href="../../@item.proi_imagen" title="Img Principal">
                                <img src="../../@item.proi_imagen" alt="Banana" height="170" width="160" />
                            </a>
                        }
                    </div>
                    <div id="blueimp-gallery-carousel"
                         class="blueimp-gallery blueimp-gallery-carousel">
                        <div class="slides"></div>
                        <h3 class="title"></h3>
                        <a class="prev">‹</a>
                        <a class="next">›</a>
                        <a class="play-pause"></a>
                        <ol class="indicator"></ol>
                    </div>
                </div>
            </div>
        </div>
    </div>



    <div class="col-lg-12">
        <div class="ibox">
            <div class="ibox-content">
                <h2>Auditoría</h2>
                <div class="form-horizontal">
                    <table class="table table-striped table-bordered dataTable">
                        <thead>
                            <tr>
                                <th>Acción</th>
                                <th>Usuario</th>
                                <th>Fecha</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>Creado</td>
                                <td>@Html.DisplayFor(model => model.tbUsuarios.usu_NombreUsuario)</td>
                                <td>@Html.DisplayFor(model => model.prod_UsuarioCrea)</td>
                            </tr>
                            <tr>
                                <td>Modificado</td>
                                <td>@Html.DisplayFor(model => model.tbUsuarios1.usu_NombreUsuario)</td>
                                <td>@Html.DisplayFor(model => model.prod_FechaCrea)</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>