@model IEnumerable<LateOS.Models.tbCarrito>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
    int contador = 0;
    ViewBag.ProductosCantidad = contador;
}


<div class="row">
    <div class="col-md-9">

        <div class="ibox">
            <div class="ibox-title">
                <span class="pull-right">
                    (<strong>
                        @foreach (var item in Model)
                        {
                            contador++;
                        }
                        @contador
                    </strong>) productos
                </span>
                <h5>Productos en su carro de compras</h5>
            </div>
            <div class="ibox-content">


                <div class="table-responsive">
                    <table class="table shoping-cart-table" id="tblCart">
                        @{
                            decimal resultado = 0;
                        }
                        <tbody>
                            @foreach (var item in Model)
                            {
                                resultado += Convert.ToDecimal(item.car_Cantidad) * Convert.ToDecimal(item.tbProducto.prod_Precio);
                                ViewBag.ProductosCantidad = contador;
                                <tr>
                                    <td width="90">
                                        <div class="cart-product-imitation" style="background-image:url('@item.tbProducto.prod_Img')">
                                        </div>
                                    </td>
                                    <td class="desc">
                                        <h3>
                                            <a href="#" class="text-navy">
                                                @Html.DisplayFor(modelItem => item.tbProducto.prod_Descripcion)
                                            </a>
                                        </h3>
                                        <p class="small">
                                            @Html.DisplayFor(modelItem => item.tbProducto.tbSubCategoria.subc_Descripcion)
                                            @Html.DisplayFor(modelItem => item.car_FechaOrden)
                                        </p>

                                        <div class="m-t-sm">
                                            <button type="submit" data-id="@item.car_Id" id="DeleteCart" class="btn btn-danger btn-sm"><i class="fa fa-trash"></i> Eliminar</button>
                                        </div>
                                    </td>

                                    <td>
                                        @Html.DisplayFor(modelItem => item.tbProducto.prod_Precio)
                                    </td>
                                    <td width="65">
                                        <button type="submit" data-id="@item.prod_Id" id="SumCart" class="btn btn-outline btn-primary">+</button>
                                        <label class="form-control">@item.car_Cantidad</label>
                                        <button type="submit" data-id="@item.prod_Id" id="RestCart" class="btn btn-outline btn-danger">-</button>
                                    </td>
                                    <td>
                                        <h4>
                                            @{
                                                ViewBag.Total = Convert.ToDecimal(item.car_Cantidad) * Convert.ToDecimal(item.tbProducto.prod_Precio);
                                            }
                                        </h4>
                                    </td>
                                </tr>
                                                }
                        </tbody>
                    </table>
                </div>

            </div>
            <div class="ibox-content">
                @Html.ActionLink("Comprar", "DetailsFactura", "Carrito", new { @class = "btn btn-primary pull-right" })
                @Html.ActionLink("Continuar Comprando", "Index", "Ventas", null, new { @class = "btn btn-white" })
            </div>
        </div>

    </div>
    <div class="col-md-3">

        <div class="ibox">
            <div class="ibox-title">
                <h5>Resumen de la compra</h5>
            </div>
            <div class="ibox-content">
                <span>
                    Total
                </span>
                <h2 class="font-bold">
                    @{
                        ViewBag.Todo = resultado;
                    }
                    @ViewBag.Todo
                </h2>

                <hr />
                <div class="m-t-sm">
                    <div class="btn-group">
                       @Html.ActionLink("Comprar", "DetailsFactura", "Carrito", new { @class = "btn btn-primary btn-sm" });
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>